.core-btn {
  border-radius: $border-radius;
  background-color: $red;
  color: white;
  border: unset;
  padding: 5% 3%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  font-family: 'Quicksand';
  font-weight: 600;
  transition: background-color 0.4s;

  &:hover {
    cursor: pointer;
    background-color: darken($red, 10%);
  }

  &:active {
    transition-duration: 1s;
    background-color: darken($red, 30%);
  }
}
