$border-radius: 5px;
$PRIMARY-FONT: normal normal bold Quicksand;
$CONTAINER-RATIO: 70%;
$MODAL-WIDTH: 50%;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

body {
  margin: 0;
  font-family: 'Quicksand';
}

._flex {
  display: flex;

  &._column {
    flex-direction: column;
  }

  &._center {
    align-items: center;
  }
}

._inline-flex {
  display: inline-flex;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 0;
  }
  50% {
    //transform: scale(1.05, 1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}

@mixin responsive_flow {
  @media (max-width: 500px) {
    display: flex;
    flex-direction: column;

    @content;
  }
}

@import './variables.scss';
@import './pages.scss';
